* { 
    box-sizing: border-box; 
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
} 

html, body { 
    margin: 0; 
    width: 100vw; 
    height: 100vh; 
} 

body { 
    display: grid; 
    grid-template-columns: 50vw 50vw; 
    grid-template-rows: 50% 50%; 
} 

.quadrant { 
    background-color: rgba(230, 240, 233, 0.85); 
    border: 2px solid black; 
} 

.video { 
    margin: 5px 5px; 
    background-color: black; 
    color: white; 
    height: calc(100% - 10px); 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    font-size: 30px; 
} 

.top-right { 
    display: flex; 
    justify-content: center; 
    align-items: center; 
} 

.controls { 
    display: grid; 
    grid-template-columns: 65px 40px 40px 65px; 
    grid-template-rows: 50px 50px 50px; 
    gap: 5px; 
} 

.controls form { 
    width: 100%; 
    height: 100%; 
} 

button { 
    font-size: 20px; 
    width: 100%; 
    height: 100%; 
    cursor: pointer; 
} 

.move-up { 
    grid-column: 2 / span 2; 
    grid-row: 1; 
} 

.move-left { 
    grid-column: 1; 
    grid-row: 2; 
} 

.start { 
    grid-column: 2; 
    grid-row: 2; 
} 

.start button { 
    background-color: green; 
    color: white; 
} 

.stop { 
    grid-column: 3; 
    grid-row: 2; 
} 

.stop button { 
    background-color: red; 
    color: white; 
} 

.move-right { 
    grid-column: 4; 
    grid-row: 2; 
} 

.move-down { 
    grid-column: 2 / span 2; 
    grid-row: 3; 
} 

.bottom-right { 
    display: flex; 
    flex-direction: column; 
} 

.user-log-title { 
    margin: 10px; 
    text-align: center; 
    font-size: 30px; 
} 

.user-log { 
    margin: 5px; 
    background-color: rgba(211, 211, 211, 0.8); 
    border: 3px solid black; 
    flex: 1; 
}