<!DOCTYPE html>
<html>
<head>
    <title>PWP Robot API</title>
</head>

<body>
    <!--Value recieved from the backend-->
    <h1>{{ text }}</h1>

    <!--Form that sends info to the backend-->
    <form method="POST">
        <!--Buttons with different values to select the function-->
        <button type="submit" name="button" value="forward">
            Forward
        </button>

        <button type="submit" name="button" value="backward">
            Backward
        </button>

        <button type="submit" name="button" value="right">
            Right
        </button>

        <button type="submit" name="button" value="left">
            Left
        </button>

        <button type="submit" name="button" value="stop">
            Stop
        </button>

    </form>

</body>
</html>